extensions:
    middlewares: Contributte\Middlewares\DI\MiddlewaresExtension

services:
    - App\Middleware\ApiAuthMiddleware

middlewares:
    middlewares:
        - App\Middleware\ApiAuthMiddleware