services:
    factory: App\Core\RouterFactory::createRouter
    userAuthenticator:
        factory: App\Core\Security\UserAuthenticator
        autowired: true
    security.user:
        factory: Nette\Security\User
        setup:
            - setAuthenticator(@userAuthenticator)
    nette.mailer:
        factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)
    EmailNotificationService:
            factory: App\Model\Services\EmailNotificationService
            arguments:
                - @nette.mailer
    - App\Command\ImportBooksCommand
    - App\Command\ListLoansCommand
    - App\Command\SeedUsersCommand
    - App\Command\ExportBooksCommand
    - App\Command\NotifyOverdueCommand


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			#- *Repository
			- *Service
